form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f6f6f6, #fff);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #666;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

small {
    color: #ff0000;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0069d9;
}

button:active {
    animation: button-click 0.1s ease-out;
}

@keyframes button-click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}