<h1>Predictor de Pico y Placa</h1>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div>
    <label for="placa">Número de placa:</label>
    <input type="text" id="placa" name="placa" [(ngModel)]="placa" required minlength="8" maxlength="9"
      #placaInput="ngModel">
    <div *ngIf="placaInput.invalid && (placaInput.dirty || placaInput.touched)">
      <small *ngIf="placaInput?.errors?.['required']">Este campo es requerido.</small>
      <small *ngIf="placaInput?.errors?.['minlength']">La placa debe tener al menos 6 caracteres incluido el"-".</small>
      <small *ngIf="placaInput?.errors?.['maxlength']">La placa debe tener máximo 7 caracteres incluido el "-".</small>
    </div>
  </div>
  <div>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" [(ngModel)]="fecha" required>
    <div *ngIf="form.submitted && form.controls?.['fecha']?.errors">
      <small *ngIf="form.controls?.['fecha']?.errors?.['required']">Este campo es requerido.</small>
    </div>
  </div>
  <div>
    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" [(ngModel)]="hora" required>
    <div *ngIf="form.submitted && form.controls?.['hora']?.errors">
      <small *ngIf="form.controls?.['hora']?.errors?.['required']">Este campo es requerido.</small>
    </div>
  </div>
  <button type="submit">Consultar</button>
</form>

<div *ngIf="resultado">
  <p>{{ resultado }}</p>
</div>